@model IEnumerable<ComplexModel.Models.ViewModels.ItemVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Register New Item</a>
</p>

<p>
    <a asp-action="AddItemDetails">Add Item Details</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                
               Item Name
            </th>
            <th>
                Price Per Unit
            </th>
            <th>
                Unit Type
            </th>
            <th>
                Total Quantity
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UnitItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
