
@model ComplexModel.Models.ViewModels.CustomerOrderVM

@{
    ViewData["Title"] = "placeOrder";
}

<h1>Place Order</h1>

<h4>Item</h4>
<hr />
<div class="row">


    
        <div class="col-md-4">
            <form asp-action="placeOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*  <div class="form-group">
                <label asp-for="@Model.ItemName" class="control-label"></label>
                <input asp-for="@Model.ItemName" class="form-control" />
                <span asp-validation-for="@Model.ItemName" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    @*<label asp-for="@Model.ItemNa" class="control-label"></label>*@
                    Item Name:
                    <select asp-for="@Model.ItemId" asp-items="@Model.CSelectListItem(@Model.Items)" onchange="getUnits(this)" class="form-control"></select>
                    <span asp-validation-for="@Model.ItemId" class="text-danger"></span>
    @*            @{

                    var units = @Model.SetUnits(Model.ItemId);
                }*@
                </div>

               <div class="form-group">
                    Unit Type:
                @if (Model.ItemId != null)
                {
                    @* var Units = getUnits(Model.ItemId);*@


                    @*var itemId = Model.ItemId;*@


                @*<label asp-for="@Model.u" class="control-label"></label>*@
                <label>Unit Type:</label>

                    <select asp-for="@Model.UnitId" asp-items="@Model.CSelectListUnit(Model.Units)" class="form-control"></select>
                    <span asp-validation-for="@Model.UnitId" class="text-danger"></span>
                    
                }
                
                </div>
                @*<div class="form-group">
                    <label asp-for="@Model.PricePerUnit" class="control-label"></label>
                    <input asp-for="@Model.PricePerUnit" class="form-control" />
                    <span asp-validation-for="@Model.PricePerUnit" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="@Model.Quantity" class="control-label"></label>
                    <input asp-for="@Model.Quantity" class="form-control" />
                    <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>

        @*onseeking="getUnits(@Model.ItemId.ToString())"*@

  @*  <script>
        function getUnits(id) {
            $.ajax({

                url: '/Customer/CustomerOrder/' + id,
                type: 'GET',
                contentType: 'json',
                success: function (result) {
                    console.log('Data received: ');
                    //console.log(result);

                    let content = document.getElementById('d');
                    content.innerHTML = `${result}`;
                }
            })

        }
    </script>*@




    @*<div class="col-md-4">
        <form asp-action="placeOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    function getUnits(e) {
        console.log("val",e.value)
        $.ajax({

            url: '/customer/CustomerOrder/getUnits/' + e.value,
            type: 'GET',
            contentType: 'json',
            success: function (result) {
            console.log('Data received: ');
            console.log(result);

                    //let content = document.getElementById('d');
                    //content.innerHTML = `${result}`;
                    //@Model.Units =result;
                }
        })

    }
</script>



@*<select asp-for="@Model.ItemId" asp-items="@Model.CSelectListItem(@Model.Items)" onchange="getUnits(this)" class="form-control"></select>*@
